[Desktop Entry]
Version=1.1
Terminal=false
Type=Application
Name=Otter Store
Comment=Lojas de Aplicativos
Exec=otter-store %F
Icon=${SNAP}/meta/gui/otter-store.png
Categories=Utility;
