[Desktop Entry]
Version=1.1
Terminal=false
Type=Application
Name=Otter Store
Comment=Lojas de Aplicativos
Exec=otter_store.sh
Icon=${SNAP}/meta/gui/otter_store.png
Categories=Utility;
